Backup Arquivos Lojas/Bourbon Shopping SP/26-12-2019-Bourbon Shopping SP.xlsx
Backup Arquivos Lojas/Center Shopping Uberlândia/26-12-2019-Center Shopping Uberlândia.xlsx
Backup Arquivos Lojas/Iguatemi Campinas/26-12-2019-Iguatemi Campinas.xlsx
Backup Arquivos Lojas/Iguatemi Esplanada/26-12-2019-Iguatemi Esplanada.xlsx
Backup Arquivos Lojas/Norte Shopping/26-12-2019-Norte Shopping.xlsx
Backup Arquivos Lojas/Novo Shopping Ribeirão Preto/26-12-2019-Novo Shopping Ribeirão Preto.xlsx
Backup Arquivos Lojas/Palladium Shopping Curitiba/26-12-2019-Palladium Shopping Curitiba.xlsx
Backup Arquivos Lojas/Parque Dom Pedro Shopping/26-12-2019-Parque Dom Pedro Shopping.xlsx
Backup Arquivos Lojas/Passei das Águas Shopping/26-12-2019-Passei das Águas Shopping.xlsx
Backup Arquivos Lojas/Ribeirão Shopping/26-12-2019-Ribeirão Shopping.xlsx
Backup Arquivos Lojas/Rio Mar Recife/26-12-2019-Rio Mar Recife.xlsx
Backup Arquivos Lojas/Rio Mar Shopping Fortaleza/26-12-2019-Rio Mar Shopping Fortaleza.xlsx
Backup Arquivos Lojas/Salvador Shopping/26-12-2019-Salvador Shopping.xlsx
Backup Arquivos Lojas/Shopping Barra/26-12-2019-Shopping Barra.xlsx
Backup Arquivos Lojas/Shopping Center Interlagos/26-12-2019-Shopping Center Interlagos.xlsx
Backup Arquivos Lojas/Shopping Center Leste Aricanduva/26-12-2019-Shopping Center Leste Aricanduva.xlsx
Backup Arquivos Lojas/Shopping Eldorado/26-12-2019-Shopping Eldorado.xlsx
Backup Arquivos Lojas/Shopping Ibirapuera/26-12-2019-Shopping Ibirapuera.xlsx
Backup Arquivos Lojas/Shopping Iguatemi Fortaleza/26-12-2019-Shopping Iguatemi Fortaleza.xlsx
Backup Arquivos Lojas/Shopping Midway Mall/26-12-2019-Shopping Midway Mall.xlsx
Backup Arquivos Lojas/Shopping Morumbi/26-12-2019-Shopping Morumbi.xlsx
Backup Arquivos Lojas/Shopping Recife/26-12-2019-Shopping Recife.xlsx
Backup Arquivos Lojas/Shopping SP Market/26-12-2019-Shopping SP Market.xlsx
Backup Arquivos Lojas/Shopping União de Osasco/26-12-2019-Shopping União de Osasco.xlsx
Backup Arquivos Lojas/Shopping Vila Velha/26-12-2019-Shopping Vila Velha.xlsx
Gabarito Compilado - Automacao de Processo.ipynb